.card {
  max-width: 200px;
  padding: 1rem;
  position: relative;
}

.card__image__container {
  position: relative;
}

.card__image__container:hover .card__image__overlay,
.card__image__container:active .card__image__overlay {
  opacity: 1;
}

.card__image__container:hover .card__image,
.card__image__container:active .card__image {
  opacity: 0.3;
  transition: all 0.5s ease;
}

.card__image__overlay {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.card__image {
  width: 100%;

  &::after {
    content: "add";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.card__info {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .card {
    max-width: 150px;
  }
}
@media (max-width: 500px) {
  .card {
    max-width: 120px;
  }
}
