@import "colors";

.header {
  box-shadow: 0 2px 5px rgba($dark-grey, 0.2);
  padding: 0.5rem;
  position: sticky;
  top: 0;
  background: $white;
}

.search__header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.search__footer {
  padding: 3rem 1rem;
  input {
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    display: block;
    width: 100%;
    outline: none;
    padding: 0.5rem;
  }
}

@media (max-width: 500px) {
  .search__header {
    flex-direction: column;
  }
}
